@import '../mixins/breakpoints';
@import '../vars/vars';

.app {
  // size
  width: var(--vw);
  height: var(--vh);
  // children
  display: grid;
  grid-template-areas:
    'tool-bar'
    'tabs'
    'rich-text';
  grid-template-columns: 1fr;
  grid-template-rows:
    40px 40px 1fr;

  overflow: hidden;
  // style
  color: var(--background);
  background-color: var(--on-background);
  font-family: Verdana, sans-serif;
}

