@import '../mixins/breakpoints';
@import '../vars/vars';

@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
.app {
  // size
  width: var(--vw);
  height: var(--vh);
  // children
  display: grid;
  grid-template-areas:
    'tool-bar'
    'rich-text';
  grid-template-columns: 1fr;
  grid-template-rows: 34px 1fr;

  overflow: hidden;
  // style
  color: var(--background-100);
  background-color: var(--on-background-010);
  font-family: Verdana, sans-serif;

  @include respond-to($md-down) {
    grid-template-rows: 40px 1fr;
  }
}
