@import '../../vars/vars';
@import '../../vars/states';
.selectFile {
  padding: 10px;
  min-height: calc(100% - 20px);
  user-select: none;
}

.selectFile__file {
  cursor: pointer;
  display: block;
  background-color: var(--surface);
  position: relative;
  color: var(--on-background);
  margin-top: 5px;
  max-width: 100%;
}

.selectFile__file__body {
  padding: 10px 20px;
  &:active {
    background-color: var(--primary-2);
  }
  transition: background-color 0.3s ease;
  svg {
    fill: var(--on-surface);
  }
}

.selectFile__file__body--disabled {
  filter: brightness(0.5) contrast(0.5) grayscale(0.5);
  opacity: 0.6;
  cursor: not-allowed;
}
.selectFile__file__three-dots-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.selectFile__file__three-dots-popup {
  z-index: 2;
  width: 150px;
  position: absolute;
  right: 3px;
  top: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-010);
  color: var(--on-background);
  box-shadow: $box-shadow1;
}
.selectFile__file__three-dots-popup__item {
  padding: 10px 10px;
  border-bottom: 1px solid #a7a7a755;
  &:hover:not([data-disabled]) {
    background-color: var(--surface-010);
  }
  filter: unset;
}
.selectFile__file__three-dots-popup__item--disabled {
  @include disabled-button();
}
.selectFile__file__name {
  display: block;
  margin-bottom: 2px;
  padding: 5px;
  overflow: auto;
  font-size: 14px;
}
.selectFile__file__name__tick {
  position: absolute;
  margin-right: 5px;
}
.selectFile__file__details__visibility {
  display: flex;
  gap: 5px;
  align-items: center;
}
.selectFile__file__details__hash,
.selectFile__file__details__id {
  margin-right: 10px;
  opacity: 0.5;
  @include respond-to($md-down) {
    display: none;
  }
}
.selectFile__file__details {
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--on-surface);
  padding: 5px;
}
.selectFile__file--selected-candidate {
  background-color: var(--primary-2);
  span {
    color: var(--on-background);
  }
}
.selectFile__file--selected {
  background-color: var(--primary);
  color: var(--background);
  span {
    color: var(--background);
  }
  svg {
    fill: white;
  }
}
.selectFile__info-bar {
  margin-top: 5px;
  max-height: 25px;
  color: var(--on-background);
  flex: 1;
  text-align: left;
  font-size: 12px;
  p {
    padding: 5px;
    margin: 0;
  }
}

.selectFile__buttons__refresh {
  margin-right: auto !important;
  margin-left: 10px;
}

.selectFile__file-folder {
  margin-bottom: 5px;
  box-shadow: $box-shadow2;
  padding: 3px;
  background-color: var(--background);
  width: 100%;
  box-sizing: border-box;
}
.selectFile__file-folder__files {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.selectFile__file-folder__name {
  width: 90%;
  padding: 10px 10px 0px;
  display: block;
  overflow: auto;
  margin-bottom: -5px;
  color: var(--on-background);
  font-family: monospace;
  opacity: 0.8;
}
