.row-element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  span {
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.row-element--head {
  width: 50%;
}
.row-element--collapsed-row {
  width: 100%;
}
