{
  "branches": ["master"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    ["@semantic-release/github", {
          "assets": [
            {"path": "cherryjuice-linux/cherryjuice-linux.tar.gz", "label": "cherryjuice-linux.tar.gz"},
            {"path": "cherryjuice-win/cherryjuice-win.tar.gz", "label": "cherryjuice-win.tar.gz"}
          ]
    }],
  ]
}
