@import '../mixins/breakpoints';
@import '../vars/vars';

.app {
  // size
  width: var(--vw);
  height: var(--vh);
  // children
  display: grid;
  grid-template-areas:
    'tool-bar tool-bar '
    'tree tabs'
    'tree rich-text '
    'formatting-bar formatting-bar'
    'main-bar main-bar';
  grid-template-columns: var(--treeWidth) 1fr;
  grid-template-rows:
    $tool-bar-height $title-and-recent-bar-height 1fr
    var(--formatting-bar)
    var(--nodes-bar);

  @include respond-to($md-up) {
    grid-template-areas:
      'tool-bar tool-bar '
      'tree tabs'
      'tree rich-text '
      'info-bar info-bar';
    grid-template-rows: $tool-bar-height-md $title-and-recent-bar-height-md 1fr var(
        --info-bar
      );
  }

  overflow: hidden;
  // style
  color: var(--neutral-750);
  background-color: var(--neutral-000);
  font-family: Verdana, sans-serif;
}

.app--dialog-docked {
  grid-template-areas:
    'tool-bar tool-bar '
    'tree tabs'
    'tree rich-text '
    'formatting-bar formatting-bar'
    'main-bar main-bar'
    'dialog dialog';
  @include respond-to($md-up) {
    grid-template-areas:
      'tool-bar tool-bar '
      'tree recents'
      'tree rich-text '
      'info-bar info-bar'
      'dialog dialog';
  }
}
