@import '../mixins/breakpoints';
@import '../vars/vars';
.app {
  // size
  width: var(--vw);
  height: var(--vh);
  // children
  display: grid;
  grid-template-areas:
    'tool-bar tool-bar '
    'tree recent-nodes '
    'tree rich-text '
    'info-bar info-bar';
  grid-template-columns: 250px 1fr;
  grid-template-rows: $tool-bar-height $title-and-recent-bar-height 1fr $info-bar-height;
  @include respond-to('md') {
    grid-template-rows: $tool-bar-height-md $title-and-recent-bar-height-md 1fr $info-bar-height-md;
  }
  overflow: hidden;
  // style
  color: white;
  background-color: black;
  font-family: Verdana, sans-serif;
}
