@import "../vars/vars";
.info-bar{
  grid-area: info-bar;
  height: $info-bar-height;
  background-color: floralwhite;
  color: black;
  font-family: "Arial ",sans-serif;
  font-weight: 300;
  font-size: 13px;
  display: flex;
  align-items: center;
  padding-left: 3px;
  cursor: default;
}