@import '../../vars/vars';
@import '../../vars/states';

@mixin button-variant($color, $bg-color, $br-base, $br-step) {
  color: $color;
  background-color: $bg-color;
  filter: brightness($br-base);
  &:hover:not([disabled]) {
    filter: brightness(#{$br-base + $br-step});
    background-color: $bg-color;
    color: $color;
  }
  &:active:not([disabled]) {
    filter: brightness(#{$br-base + 2 * $br-step});
    background-color: $bg-color;
    color: $color;
    box-shadow: $box-shadow1;
  }
}

.button {
  user-select: none;
  border: none;
  background-color: var(--background-100);
  color: var(--primary-020);
  transition: background-color 0.3s ease, filter 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  cursor: pointer;
  &:hover:not([disabled]) {
    background-color: var(--primary-085);
    color: var(--primary-020);
  }
  &:active:not([disabled]) {
    background-color: var(--primary-060);
    color: var(--primary-020);
    box-shadow: $box-shadow1;
  }
  &:disabled {
    @include disabled-button();
  }
  display: flex;
  align-items: center;
  justify-content: center;
  //height: 30px;
  //width: 30px;
  margin: 0;
}
.button--text {
  display: inline-block;
  padding: 10px 10px;
  margin: 2px;
}
.button--circle {
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  img {
    margin-bottom: -2px;
  }
  width: 30px;
  height: 30px;
}
.button--square {
  width: fit-content;
  border-radius: 5px;
}

.button--danger {
  @include button-variant(var(--background-100), var(--danger), 1, 0.1);
}
.button--dark {
  @include button-variant(
    var(--background-100),
    var(--on-surface-010),
    1.6,
    0.5
  );
  svg {
    fill: white;
  }
}

.button--pressed {
  background-color: var(--primary-050) !important;
  color: var(--background-100) !important;
  box-shadow: $box-shadow1;
  svg {
    fill: white;
  }
}
$button-width: 18px;
.button--small {
  min-width: $button-width;
  min-height: $button-width;
  width: $button-width;
  height: $button-width;
  padding: 0;
}
.button--rotated45 {
  svg,
  img {
    transform: rotateZ(45deg);
    margin-bottom: -3px;
  }
}
