@import '../../vars/vars';
@import '../../mixins/breakpoints';
.widgets {
  position: absolute;
  z-index: 1000;
  width: 300px;
  bottom: 22.5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include respond-to($md-down) {
    bottom: 45px;
  }
}

.widget {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  box-shadow: $box-shadow1;
}
