@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/vars/states';
@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';

.context-menu {
  user-select: none;
  position: absolute;
  box-sizing: border-box;
  background-color: var(--background);
  padding: 0;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: $box-shadow1;
  z-index: $ZI-context-menu;
  overflow: hidden;
}
.context-menu--modal {
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-width: calc(var(--vw) * 0.975);
  width: fit-content;
  max-height: calc(var(--vh) * 0.95);
  height: fit-content;
  overflow: auto;
  display: flex;
  align-items: center;
}

.context-menu-wrapper {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.context-menu__item {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  padding-right: 30px;
  min-width: 150px;
  width: 100%;
  color: var(--on-background);
  &:hover:not([data-disabled]) {
    background-color: var(--surface-010);
  }
  filter: unset;

  font-size: 14px;
  transition: background-color 200ms linear;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}

.context-menu__item--disabled {
  @include disabled-button();
}

.context-menu__item--bottom-separator {
  border-bottom: 1px solid var(--on-surface-1);
}
.context-menu__item__icon {
  box-sizing: border-box;
  width: 18px;
  padding: 2px;
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
.context-menu__item__text {
  flex: 1;
  &:first-letter {
    text-transform: capitalize;
  }
}

.context-menu__item__sub-items-arrow {
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    fill: grey;
  }
}
