@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
@import '~@cherryjuice/shared-styles/build/mixins/typography';

.dropdown-menu {
  --border: 0.5px solid var(--on-surface-050-10);
  --text-padding: 10px 16px;

  @include respond-to($md-down) {
    --border: 0.5px solid var(--on-surface-050-50);
  }
}

.dropdown-menu {
  cursor: default;
  user-select: none;
  // size
  width: 190px;
  height: fit-content;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  // position
  top: 100%;
  z-index: $ZI-dropdown-menu;
  // style
  background-color: var(--surface-100);
  border-radius: 5px;
  box-shadow: var(--shadow-4);
  margin-top: 2px;
  // content
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border: var(--border);
}

.dropdown-menu__group {
}

.dropdown-menu__group__body {
  width: 100%;
  padding: 5px 0;
}

.dropdown-menu__group__header {
  width: 100%;
  border-top: var(--border);
}

.dropdown-menu__group__header__name {
  // size
  // position
  // style
  color: var(--on-surface-050);
  opacity: 0.6;
  font-size: 0.75em;
  cursor: default;
  // content
  padding: 6px 16px;
  margin-bottom: -10px;
  margin-top: 8px;
}

.dropdown-menu__group__items {
  padding: 0;
}

.dropdown-menu__group__item {
  // size
  width: 100%;
  height: 36px;

  // position
  // style
  cursor: pointer;
  @include type-c();
  color: var(--on-background-010);
  span {
    &:first-letter {
      text-transform: capitalize;
    }
  }

  // content
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: var(--text-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  // style
  &:not([data-disabled='true']):hover {
    background-color: var(--primary-085);
  }

  &[data-disabled='true'] {
    opacity: 0.3;
    cursor: not-allowed;
  }
  svg {
    fill: var(--icon-fill);
  }
}
.dropdown-menu__group__item__icon {
  padding-inline-end: 5px;
}
