@import '../../vars/vars';
.text-input {
  background-color: var(--surface-010);
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.number-input {
  box-sizing: border-box;
  background-color: var(--surface-010);
  text-align: center;
  width: 65px;
  border: none;
  height: 40px;
  padding: 2px 7.5px;
}
