$widthRatio: 2.6;
$circleRatio: 1.4;
$pathHeight: 12px;
$pathWidth: #{$pathHeight * $widthRatio};
$circleRadius: #{$pathHeight * $circleRatio};
$halfPathHeight: #{$pathHeight * 0.5};
$circleVOffset: #{$pathHeight * 0.5 - $pathHeight * 0.5 * $circleRatio};
$circleHOffset: #{$pathHeight * $widthRatio - $pathHeight * $circleRatio * 0.9};
// https://codepen.io/hardik-chaudhary/pen/GGjQyx
.switch {
  position: relative;
  display: inline-block;
  width: $pathWidth;
  margin: 15px 0;
  height: $pathHeight;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--surface-010);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}

// circle
.slider:before {
  position: absolute;
  content: '';
  height: $circleRadius;
  width: $circleRadius;
  background-color: var(--on-surface);
  transition: 0.4s;
  border-radius: 50%;
  bottom: $circleVOffset;
}

input:checked + .slider {
  background-color: var(--primary-090);
}

input:checked + .slider:before {
  transform: translateX($circleHOffset);
  background-color: var(--primary);
}
