.h-board {
  display: flex;
  gap: 50px;
  padding: 50px;
  justify-content: space-between;
  max-width: 800px;
}
.v-board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
