@import '~@cherryjuice/shared-styles/build/vars/vars';

$height: 250px;
$width: $height * 1.35;
.alert-modal {
  box-sizing: border-box;
  position: absolute;
  width: $width;
  background-color: var(--background-100);
  left: calc(100vw / 2 - #{$width/2});
  top: calc(100vh / 2 - #{$height/2.5});
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--on-surface-050);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  text-align: center;
  z-index: $ZI-alert-modal;
  border-radius: 10px;
  padding: 10px;
}

.alert-modal__icon {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 30px;
  display: none;
}
.alert-modal__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.alert-modal__header {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: start;
  &:first-letter {
    text-transform: capitalize;
  }
}

.alert-modal__header--danger {
  color: var(--danger);
}
.alert-modal__header--warning {
  color: var(--warning);
}
.alert-modal__message {
  font-size: 16px;
  padding: 5px 1px;
  opacity: 0.7;
  text-align: initial;
  &:first-letter {
    text-transform: capitalize;
  }
}
.alert-modal__dismiss-button {
  align-self: flex-end;
  margin-right: 5px;
  margin-top: 10px;
}
