{
    "jsc": {
        "target": "es2019",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true,
            "decorators": true
        },
        "loose": false,
        "transform": {
            "decoratorMetadata": true
        }
    },
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    }
}
