@import '../../vars/border-radius';
@import '../../vars/vars';
.user__card {
  position: absolute;
  right: 0px;
  top: $tool-bar-height-md;
  @include respond-to($md-down) {
    top: $tool-bar-height;
  }
  z-index: $ZI-user-popup;
  width: 240px;
  max-width: 80vw;
  border-radius: $BR_popup;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-750);
  color: var(--primary-040);
  filter: opacity(0.97);
}
.user__info {
  height: 150px;
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(#180101, 0.2);
  width: 100%;
}
.user__actions {
  min-height: 150px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user__info__picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.user__info__generated-avatar {
  border-radius: 50%;
}

.user__info__name {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.user__info__email {
  text-transform: lowercase;
  font-size: 0.95rem;
}
.user__actions__sign-out {
}
