.tabs {
  grid-area: tabs;
  display: flex;
  align-items: center;
  height: var(--tabs);
  background-color: var(--surface-040);
  //overflow: hidden;
}

.tabs__home-button {
  min-width: var(--tabs);
  height: var(--tabs);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: var(--background-100-95);
  }
}
.tabs__home-button--show-home {
  background-color: var(--background-100);
  svg {
    opacity: 1;
  }
}
