{{>email-head}}
<body>
<div class="container">
    <div class="card">
        <p>Hello,</p>
        <p>Someone has requested a password reset for the <b>Cherryscript</b> account associated with <b>{{email}}</b>.</p>
        <p>By clicking the following button, you are confirming this request.</p>
        <a href="{{resetPasswordUrl}}" class="button">reset your password</a>
        <p>If you didn't make this request, ignore this email.</p>
        <p>Thanks</p>
    </div>
</div>
</body>
