{{>email-head}}
<body>
<div class="container">
    <div class="card">
        <p>Hello,</p>
        <p>By clicking on the following button, you are confirming your email address.</p>
        <a href="{{verifyEmailUrl}}" class="button">Confirm email address</a>
    </div>
</div>
</body>
