@import '../vars/vars';
@import '../vars/states';
@import '../mixins/breakpoints';
.tool-bar {
  // size
  max-width: var(--vw);
  min-height: $tool-bar-height;
  @include respond-to('md') {
    min-height: $tool-bar-height-md;
  }
  // position
  grid-area: tool-bar;
  // children
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  // style
  background-color: var(--background-100);
  user-select: none;
}
.tool-bar__formatting-buttons {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow-x: auto;
  height: 100%;
}
.tool-bar__group {
  display: flex;
  align-items: center;
  //overflow-x: auto;
  height: $tool-bar-height;
  @include respond-to($md-up) {
    height: $tool-bar-height-md;
  }
}
.tool-bar__group--nav-bar {
  margin-left: auto;
}
.tool-bar__group--nav-bar__profile-picture {
  width: 18px;
  border-radius: 50%;
  margin-top: -2px;
}
.tool-bar__group--mobile-buttons {
  @include respond-to($md-up) {
    display: none;
  }
}
.tool-bar__group--formatting {
  @include respond-to($md-down) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: $ZI-floating-scrollbar;
  }
  overflow-x: auto;
  // size
  @include respond-to($md-down) {
    height: $tool-bar-height;
  }
  // position
  @include respond-to($md-down) {
    grid-area: formatting-bar;
  }
  // children
  user-select: none;
  @include respond-to($md-down) {
    padding: 3px 10px;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
  }
  // style
  @include respond-to($md-down) {
    box-shadow: $box-shadow3;
    opacity: 0.95;
    background-color: var(--background-100);
  }
}
.tool-bar__group--main-bar {
  user-select: none;
  // position
  @include respond-to($md-down) {
    bottom: 0;
    grid-area: main-bar;
    z-index: #{$ZI-floating-scrollbar};
  }
  // style
  @include respond-to($md-down) {
    background-color: var(--background-100);
  }
}
.tool-bar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $tool-bar-height;
  height: $tool-bar-height;
  @include respond-to($md-up) {
    height: $tool-bar-height-md;
    width: $tool-bar-height-md;
  }
  &:not([data-disabled]) {
    cursor: pointer;
  }

  @include respond-to($md-up) {
    &:hover:not([data-disabled]) {
      background-color: var(--surface-090);
    }
  }
  &[data-disabled] {
    //filter: grayscale(0.9) opacity(0.6);
    //cursor: initial;
    svg,
    img {
      @include disabled-button();
    }
  }
  transition: $bg-transition-1;
}
.tool-bar__icon--strict-width {
  min-width: $tool-bar-height;
}
.tool-bar__icon--active {
  @include respond-to($md-down) {
    &:not([data-disabled]) {
      background-color: var(--surface-090);
    }
  }
}

.tool-bar__letter-icon {
  color: var(--on-surface-050);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  user-select: none;
}

.tool-bar__separator {
  margin-left: -1px;
  margin-right: -1px;
  width: 1px;
  background-color: var(--on-surface-050);
  height: 45%;
  opacity: 0.6;
}
