@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
@import '~@cherryjuice/shared-styles/build/vars/vars';
.editor {
  overflow: hidden;
  grid-area: editor;
  display: grid;
  flex: 1;
  // tablet and mobile
  grid-template-areas:
    'tool-bar tool-bar '
    'tree node-path'
    'tree rich-text '
    'formatting-bar formatting-bar'
    'main-bar main-bar';

  grid-template-columns: var(--treeWidth) 1fr;
  grid-template-rows:
    $tool-bar-height var(--nodePath) 1fr
    var(--formatting-bar)
    var(--nodes-bar);
  // desktop
  @include respond-to($md-up) {
    grid-template-areas:
      'tool-bar tool-bar '
      'tree node-path'
      'tree rich-text '
      'info-bar info-bar';
    grid-template-rows: $tool-bar-height-md var(--nodePath) 1fr var(--info-bar);
  }
}
