@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';

.tree {
  --tree-height: calc(
    var(--vh) - #{2 * $tool-bar-height} - var(--formatting-bar) - var(--recent-nodes)
  );
  @include respond-to('md') {
    --tree-height: calc(var(--vh) - var(--info-bar));
  }
  // size
  grid-area: tree;
  height: var(--tree-height);
  overflow: hidden;
  border-right: var(--background-100) 3px solid;
  max-height: 100%;
}
.tree_root-list {
  margin: 0 0 0 -40px;
  flex-direction: column;
  height: calc(100% - 44px);

  overflow: auto;
  background-color: var(--treeBg);
  transition: background-color 200ms linear;
}
.tree__resize-handle {
  height: calc(
    100vh - var(--docked-dialog-height) - #{2 * $tool-bar-height}
  ) !important;
  @include respond-to($md-up) {
    height: calc(
      100vh - var(--docked-dialog-height) - #{1 * $tool-bar-height}
    ) !important;
  }
  span > div {
    min-width: 10px;
  }
}
$bubble-width: 35px;
.tree__resizeHandle__bubble {
  @media (pointer: coarse) {
    position: absolute;
    left: -#{$bubble-width * 0.4};
    bottom: 150px;
    opacity: 0.3;
    height: $bubble-width;
    width: $bubble-width;
    border-radius: 50%;
    background-color: var(--background-100);
    cursor: grab;
    z-index: $ZI-resize-bubble;
  }
}
