@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';

.tree-tool-bar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--on-surface-010);
  opacity: 0.5;
  &:hover {
    opacity: 0.9;
  }
  height: var(--treeToolBarHeight);
  transition: opacity 200ms linear;
  padding: 2px;
  box-sizing: border-box;
}

.tree-tool-bar--active {
  opacity: 0.9;
}

.tree-tool-bar__controls {
  height: 100%;

  box-sizing: border-box;
  //padding: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  //justify-content: flex-end;
  overflow-x: auto;
  & > :first-child {
    margin-left: auto;
  }
  //gap: 1px;
  background-color: var(--background-100);
}
.tree__search-field-wrapper {
  opacity: 1;
  background-color: transparent;
}
.tree__search-field-container {
  overflow: hidden;
  flex: 1;
  background-color: transparent;
  margin-right: 0;
}
.tree__search-button {
  width: 30px;
  @include respond-to($md-down) {
    width: 40px;
  }
}
.button {
  height: 100%;
  width: 30px;
  min-width: 30px;

  @include respond-to($md-down) {
    width: 40px;
    min-width: 40px;
  }
  background-color: var(--background-100);
  border-radius: 0;
}
