@import '~@cherryjuice/shared-styles/build/mixins/typography';

.row {
  display: flex;
  align-items: center;

  width: 100%;
  height: 36px;
  padding: 10px;
  justify-content: space-between;
  @include type-e();
  color: var(--on-background-010);
  cursor: default;
  transition: background-color 200ms linear;
  max-width: 1300px;
  user-select: none;
}

.row__tail {
  width: 40%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span {
    // row-element
    width: 128px;
  }
}

.row--active {
  background-color: var(--primary-085);
}
.row--opened {
  position: relative;
  &::after {
    --width: 2px;
    content: '';
    position: absolute;
    left: 0px;
    height: calc(100% - var(--width) * 2);
    border: var(--width) var(--primary-053) solid;
    opacity: 0.3;
  }
}
.row--collapsed {
}
.row--header {
  color: var(--on-surface-050);
  opacity: 0.75;
}
