@import '~@cherryjuice/shared-styles/build/mixins/typography';

.section-header {
  height: 35px;

  // content
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // style
  user-select: none;

  svg {
    fill: var(--on-surface);
    cursor: pointer;
  }
  color: var(--on-surface);
  opacity: 0.75;
  @include type-g();
}
