@import '../../vars/vars';
.guests {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.guests__list {
  display: flex;
  padding: 10px;
  gap: 5px;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
}
.guests__add-guest {
  width: 100%;
  max-width: 350px;
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
}

.guests__add-guest__inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.guests__add-guest__input-container {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: var(--surface-010);
  gap: 1px;
}
.guests__add-guest__input {
  height: 40px;
  display: flex;
  flex: 1;
  &:invalid {
    color: var(--danger);
  }
}
.guests__add-guest__add-button {
  background-color: var(--surface-010);
  &:disabled {
    filter: brightness(0.95);
  }
  svg {
    fill: grey;
  }
  width: 40px;
  height: 40px;
}
.guests__messages {
  height: 15px;
  padding: 0px 15px;
  opacity: 0;
  transition: opacity 200ms linear;
}
.guests__messages--visible {
  opacity: 1;
}
.guests__guest {
  border-radius: 5px;
  color: var(--primary);
  border: 1px solid var(--primary);
  box-shadow: $box-shadow2;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.guests__guest__email {
  margin-left: 5px;
}
