@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/typography';
.guests {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.chips__list {
  display: flex;
  &:not(:empty) {
    padding: 10px;
  }
  gap: 5px;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
}
.chips__add-chip {
  width: 100%;
  max-width: 350px;
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
}

.chips__add-chip__inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
.guests__add-guest__input-container {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: var(--surface-045);
  gap: 1px;
}
.chips__add-chip__input {
  background-color: var(--surface-045);
  height: 40px;
  display: flex;
  flex: 1;
  &:invalid {
    color: var(--danger);
  }
  font-size: 14px;
  &::placeholder {
    opacity: 0.4;
  }
  &:focus {
    outline: none;
  }
}
.chips__add-chip__button {
  background-color: var(--surface-040);
  svg {
    fill: grey;
  }
  &:disabled {
    svg {
      opacity: 0.6;
    }
  }
  width: 40px;
  height: 40px;
}
.guests__messages {
  height: 15px;
  padding: 0px 15px;
  opacity: 0;
  transition: opacity 200ms linear;
}
.guests__messages--visible {
  opacity: 1;
}
.chips__chip {
  border-radius: 5px;
  height: 25px;
  color: var(--primary-050);
  border: 1px solid var(--primary-050-80);
  box-shadow: var(--shadow-3);
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  @include type-c();
}
.chips__chip__text {
  padding: 2px;
  padding-bottom: 3px;
}
.guests__guest__email {
  margin-left: 5px;
}
