@import '../../vars/vars';
@import '../../vars/colors';
@import '../../vars/states';

@mixin button-variant($color, $bg-color, $br-base, $br-step) {
  color: $color;
  background-color: $bg-color;
  filter: brightness($br-base);
  &:hover:not([disabled]) {
    filter: brightness(#{$br-base + $br-step});
    background-color: $bg-color;
    color: $color;
  }
  &:active:not([disabled]) {
    filter: brightness(#{$br-base + 2 * $br-step});
    background-color: $bg-color;
    color: $color;
    box-shadow: $box-shadow1;
  }
}

.button {
  user-select: none;
  border: none;
  background-color: transparent;
  color: var(--text-color-inverted);
  transition: background-color 0.3s ease, filter 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  cursor: pointer;
  &:hover:not([disabled]) {
    background-color: var(--primary-color-hover);
    color: var(--text-color-on-primary-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--primary-color-active);
    color: var(--text-color-on-primary-active);
    box-shadow: $box-shadow1;
  }
  &:disabled {
    @include disabled-button();
  }
  display: flex;
  align-items: center;
  justify-content: center;
  //height: 30px;
  //width: 30px;
  margin: 0;
}
.button--text {
  display: inline-block;
  padding: 10px 10px;
  margin: 2px;
}
.button--circle {
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  img {
    margin-bottom: -2px;
  }
  width: 30px;
  height: 30px;
}
.button--square {
  width: fit-content;
  border-radius: 5px;
}

.button--danger {
  @include button-variant(var(--text-color-on-primary), #d60000, 1, 0.1);
}
.button--dark {
  @include button-variant(var(--text-color-on-primary), $dark-grey, 0.85, 0.1);
}

.button--pressed {
  background-color: var(--primary-color) !important;
  color: var(--text-color-on-primary) !important;
  box-shadow: $box-shadow1;
  svg {
    fill: white;
  }
}

.button--rotated45 {
  svg,
  img {
    transform: rotateZ(45deg);
  }
}
