@import '../../vars/vars';
@import '../../vars/colors';
.button {
  user-select: none;
  border: none;
  background-color: transparent;
  color: $primary-dark;
  transition: background-color 0.3s ease, filter 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  cursor: pointer;
  &:hover:not([disabled]) {
    background-color: $primary-lighter;
    color: $primary-dark;
  }
  &:active:not([disabled]) {
    background-color: $primary-light;
    color: $primary-dark;
    box-shadow: $box-shadow1;
  }
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  //height: 30px;
  //width: 30px;
  margin: 0;
}
.button--text {
  display: inline-block;
  padding: 10px 10px;
  margin: 2px;
}
.button--circle {
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  img {
    margin-bottom: -2px;
  }
  width: 30px;
  height: 30px;
}
.button--square {
  border-radius: 5px;
}
.button--dark {
  color: white;
  background-color: $dark-grey;
  filter: brightness(0.85);
  &:hover {
    filter: brightness(1.1);
    background-color: $dark-grey;
    color: white;
  }
  &:active {
    filter: brightness(1.2);
    background-color: $dark-grey;
    color: white;
    box-shadow: $box-shadow1;
  }
}
.button--pressed {
  background-color: $primary !important;
  color: white !important;
  box-shadow: $box-shadow1;
}
