@import '../../vars/vars';
@import '../../vars/states';
@import '../../mixins/breakpoints';

.context-menu {
  user-select: none;
  position: absolute;
  box-sizing: border-box;
  background-color: var(--background);
  padding: 5px 0;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: $box-shadow1;
  z-index: $ZI-context-menu;
}

.context-menu-wrapper {
  padding: 0;
}

.context-menu__item {
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 20px;
  min-width: 150px;
  width: 100%;
  color: var(--on-background);
  &:hover:not([data-disabled]) {
    background-color: var(--surface-010);
  }
  filter: unset;
  &:first-letter {
    text-transform: capitalize;
  }
  font-size: 14px;
  transition: background-color 200ms linear;
  overflow: hidden;
  white-space: nowrap;
}

.context-menu__item--disabled {
  @include disabled-button();
}

.context-menu__item--bottom-separator {
  border-bottom: 1px solid var(--on-surface-1);
}
