@import '../../vars/vars';
@import '../../mixins/breakpoints';
.dialog {
  z-index: $ZI-dialog;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: var(--vh);
  width: 100vw;
  @include respond-to($md-up) {
    border-radius: 5px;
    width: 90vw;
    height: 94vh;
    margin: 2vh 5vw;
  }
}
.dialog--docked {
  grid-area: dialog;
  position: static;
  width: 100%;
  height: 50vh;
  margin: 0;
  border-radius: 0;
}
$small-dialog-width: 350px;
.dialog--small {
  @include respond-to($md-up) {
    height: 500px;
    width: $small-dialog-width;
    margin-left: calc(100vw / 2 - #{$small-dialog-width}/ 2);
    margin-top: calc(100vh / 2 - 500px / 2);
    .dialog__header {
      padding: 10px 15px;
    }
  }
}
.dialog__header {
  max-height: 32px;
  background-color: white;
  color: black;
  border-bottom: $dialog-border;
  display: flex;
  align-items: center;
  font-family: 'Roboto Light', sans-serif;
  padding: 15px;
  user-select: none;
  h2 {
    font-size: 1.2rem;
  }
}

.dialog__header__buttons {
  justify-self: flex-end;
  margin-left: auto;
  align-items: center;
  & > button {
    display: inline-block;
  }
}

.dialog__header__file-button {
  margin-right: 5px;
}

.dialog__header__exit-button {
  margin-left: auto;
  margin-right: 5px;
  opacity: 0.5;
  margin-top: 7px;
}
.dialog__header__sub-title {
  @include respond-to('md') {
    display: none;
  }
  margin-left: 10px;
  font-size: 14px;
  opacity: 0.5;
  &::before {
    //content: ' ▶ ';
  }
}

.dialog__content {
  flex: 10;
  overflow: auto;
}
.dialog__footer {
  display: flex;
  justify-content: space-between;
  border-top: $dialog-border;
  padding: 10px;
  background-color: white;
  align-items: center;
  z-index: 1;
}

.dialog__footer__left,
.dialog__footer__right {
  display: flex;
  align-items: center;
}
