@import '../../vars/vars';
@import '../../mixins/breakpoints';
.snackbar__container {
  position: absolute;
  height: var(--vh);
  z-index: $ZI-snackbar;
}
.snackbar {
  position: absolute;
  bottom: 0.6rem;
  left: 0.5rem;

  @include respond-to($md-down) {
    bottom: 0.5rem;
  }

  width: 250px;
  height: 45px;
  box-sizing: border-box;

  // children
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;

  // style
  background-color: rgb(250, 250, 250);
  color: black;
  border-radius: 3px;
  box-shadow: $box-shadow1;
}

.snackbar__message {
  font-size: 0.95rem;
  color: #000000bb;
  padding-bottom: 2.5px;
  display: block;
}

.snackbar__close-button {
}
