@import '../../vars/vars';
.text-input {
  background-color: #f5f5f5;
  text-align: center;
  width: 70px;
  border: none;
  height: 20px;
  margin-right: 10px;
}

.number-input {
  box-sizing: border-box;
  background-color: #f5f5f5;
  text-align: center;
  width: 75px;
  border: none;
  height: 40px;
  padding: 2px 15px;
}
