@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
.toolbar {
  grid-area: tabs;
  display: flex;
  align-items: center;
  height: var(--tabs);
  background-color: var(--surface-045);
  //overflow: hidden;
}
.toolbar::after {
  content: '|';
  height: 1px;
  background-color: rgb(115, 115, 115, 0.08);
  width: 100vw;
  position: absolute;
  margin-top: 32px;
  z-index: 0;

  @include respond-to($md-down) {
    display: none;
  }
}
.toolbar__group {
  display: flex;
  align-items: center;
  height: 100%;
}
