.submit-button {
  margin-left: 0px;
  padding: 10px 15px !important;
  font-weight: lighter;
  background-color: var(--primary-020);
  color: var(--background-100);
  filter: brightness(1.5);
  cursor: pointer;
  font-size: 1.2rem;
  // position
  // size
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  // content
  // style
  border-radius: 5px;
  border: none;
  &:focus {
    outline: 4px solid var(--primary-030-50);
  }
  &:disabled {
    filter: opacity(0.5);
    cursor: not-allowed;
  }
}

.submit-button--margin-top {
  margin-top: 5px;
}
