$tool-bar-height: 30px;
$info-bar-height: 18px;
$breakpoint: 850px;
$primary: #790604;
$primary-mid: rgba(#790604, .5);
$primary-light: rgba(#790604, .2);
$primary-lighter: rgba(#790604, .1);
$primary-dark: #3b0503;
$dialog-border: 0.5px $primary-light solid;