@import '../mixins/breakpoints';
$breakpoint: 850px;
// size
$title-and-recent-bar-height: 40px;
$title-and-recent-bar-height-md: 34px;
$tool-bar-height: 40px;
$tool-bar-height-md: 30px;
$info-bar-height-md: 18px;
$max-node-width: 400px;
// style
$primary: #790604;
$primary-mid: rgba(#790604, 0.5);
$primary-light: rgba(#790604, 0.2);
$primary-lighter: rgba(#790604, 0.1);
$primary-lightest: rgba(#790604, 0.05);
$primary-dark: #3b0503;
$primary-dark1: #330101;
$primary-dark2: #270101;
$primary-dark3: #180101;
$toolbar-bg-light: #f7f3ec;
$dialog-border: 0.5px $primary-light solid;
$box-shadow1: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
$box-shadow2: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.14);
$box-shadow3: 0 1px 3px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.07);
$grey-light: rgba(grey, 0.05);
$grey-lighter: rgba(#c9c9c9, 0.02);
// transitions
$bg-transition-1: background-color 0.3s ease;
// z-indices
$ZI-alert-modal: 10;
$ZI-alert-modal-scrim: 10;
$ZI-snackbar: 7;
$ZI-dialog: 7;
$ZI-scrim-on-top-of-dialog: 7;
$ZI-drawer-navigation: 7;
$ZI-scrim: 6;
$ZI-document-operations: 6;
$ZI-floating-scrollbar: 5;
$ZI-info-bar: 5;
$ZI-linear-progress: 5;
$ZI-dialog--docked: 5;
$ZI-resize-bubble: 4;
$ZI-user-popup: 4;
$ZI-drawer-navigation-scrim: 3;
$ZI-recent-nodes-bar: 2;
$ZI-node-elements: 1;

//sizes
$form-input-width: 260px;