@import '../../vars/vars';
@import '../../mixins/breakpoints';

.snackbar {
  width: 100%;
  min-height: 45px;
  box-sizing: border-box;

  // children
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;

  // style
  background-color: var(--background);
  color: var(--on-background);
  border-radius: 3px;
  box-shadow: $box-shadow1;
}

.snackbar__message {
  font-size: 0.95rem;
  color: var(--on-background);
  display: block;
  padding: 5px;
}

.snackbar__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    fill: grey;
  }
}
