@import '../../vars/vars';
@import '../../mixins/breakpoints';
.widgets {
  position: absolute;
  z-index: $ZI-widget;
  width: 350px;
  bottom: 27px;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-end;

  @include respond-to($md-down) {
    bottom: calc(
      5px + var(--nodes-bar) + var(--formatting-bar) + var(--recent-nodes)
    );
  }
  @include respond-to($mb-down) {
    width: 97.5vw;
    right: 1.25vw;
  }
}

.widget {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  &:not([data-collapsed]) {
    box-shadow: $box-shadow1;
  }
}
