@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
@import './login.scss';

.banner__container {
  position: absolute;
  width: 100vw;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 75px;
}
.banner {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: var(--surface-070);
  @include form-element-size();
  max-width: 400px;
  opacity: 0;
  border-radius: 10px;
  transition: opacity 200ms linear;
}

.banner__text {
  text-align: center;
  color: var(--on-background-010);
}

.banner--visible {
  opacity: 0.8;
}
