@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
@mixin form-element-size {
  max-width: $form-input-width;
  min-width: $form-input-width;
  box-sizing: border-box;
}

.login__card {
  position: relative;
  width: 400px;
  height: 435px;
  @include respond-to($mb-down) {
    width: 100%;
    height: 100%;
  }
  min-height: 400px;
  overflow-x: hidden;
  background-color: var(--background-100);
  filter: none;
  border-radius: 10px;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__card--sign-up {
  @include respond-to($mb-up) {
    height: 465px;
  }
}
.login__card--loading {
  filter: brightness(0.5);
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form__middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  max-width: 260px;
  min-width: 260px;
  box-sizing: border-box;
  font-size: 0.825rem;
  gap: 10px;
  a {
    color: var(--on-surface-050);
    border: none;
  }
}

.login-form__bottom-section {
  @include form-element-size();
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: var(--primary-020);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  a {
    color: var(--primary-020);
  }
}
