@import '../../../vars/colors';
.search-results__result {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  min-height: 35px;
  padding: 10px 20px;
  background-color: $grey-2;
  margin-bottom: 5px;
  //box-sizing: border-box;
}

.search-results__result__headline {
  flex: 1;
}

.search-results__result__location {
  cursor: pointer;
}
