@import '../../../vars/colors';
@import '../../../vars/vars';
@import '../../../mixins/text';
@import '../../../mixins/breakpoints';

.search-result {
  //display: flex;
  align-items: center;
  width: calc(100% - 40px);
  max-height: 250px;
  padding: 10px 20px;
  background-color: $grey-2;
  margin-bottom: 5px;
  overflow: auto;
  display: grid;
  grid-template-areas:
    ' headline headline link'
    ' headline headline link'
    ' info info info';
  grid-template-columns: 1fr 1fr 120px;
  grid-template-rows: minmax(25px, 1fr) 1fr 25px;
}

.search-result__headline {
  grid-area: headline;
  align-self: flex-start;
  justify-self: flex-start;
  @include clampMultiLine(4);
}

.search-result__match {
  background-color: yellow;
  font-weight: bold;
}

.search-result__link {
  grid-area: link;
  cursor: pointer;
  align-self: flex-start;
  justify-self: flex-end;

  @include clampMultiLine(3);
}

.search-result__info {
  grid-area: info;
  align-self: flex-end;
  justify-self: flex-end;
  @include respond-to($md-down) {
    font-size: 0.8rem;
  }
}
.search-result__info__item {
  margin: 0 10px;
}
