@import '../../../vars/colors';
@import '../../../mixins/breakpoints';
.search-filter {
  display: flex;
  flex-direction: column;
  @include respond-to($mb-down) {
    align-items: flex-start;
  }
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  user-select: none;
}

.search-filter__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0px;
  //background-color: $grey-1;
  user-select: none;
  flex-wrap: wrap;
}

.search-filter__label {
  color: lightgrey;
  padding: 10px;
  width: 150px;
}

.search-filter__list__item {
  display: flex;
  justify-content: flex-start;
}
