.time-filter {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  justify-content: center;
}
.time-filter__filter-toggle {
  z-index: 1;
  background-color: white;
}
.time-filter__filter-container {
  display: flex;
  color: grey;
  align-items: center;
  transition: transform 200ms cubic-bezier(0, 1.29, 1, 0.7),
    opacity 200ms cubic-bezier(0, 1.29, 1, 0.7);
  transform: translateX(0);
}
.time-filter__filter-container--hidden {
  opacity: 0;
  transform: translateX(-100px);
}
.time-filter__select-container {
  display: flex;
  color: grey;
  align-items: center;
}
.time-filter__select {
  padding: 10px 0px;
  border: none;
}
.time-filter__filter-name {
  padding: 10px;
  color: grey;
}
.time-filter__timestamp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}
.time-filter__timestamp__item {
  color: grey;
  font-family: monospace;
  font-weight: bold;
  margin-left: 5px;
}
