@import '../mixins/breakpoints';
@import '../vars/vars';
:root {
  --vh: 100vh;
  --vw: 100vw;
  --overlay-width: 0;
  --overlay-left: 0;
  --tree-width: 250px;
  --formatting-bar: $tool-bar-height;
  --recent-nodes: 40px;
  --info-bar: 18px;
  --nodes-bar: 40px;
  --docked-dialog-height: 0;
}
