@import '../mixins/breakpoints';
@import '../vars/vars';
:root {
  --vh: 100vh;
  --vw: 100vw;
  --overlay-width: 0;
  --overlay-left: 0;
  --treeWidth: 250px;
  --nodePath: 30px;
  --formatting-bar: $tool-bar-height;
  --recent-nodes: 40px;
  --info-bar: 22.5px;
  --nodes-bar: 40px;
  --docked-dialog-height: 0;

  // editor-settings
  --richTextBg: #000;
  --richTextColor: #fff;
  --richTextFont: Verdana;
  --richTextFontSize: 22px;

  --treeBg: #000;
  --treeColor: #fff;
  --treeFont: Verdana;
  --treeFontSize: 18px;

  --codeBg: #483d8b;
  --codeFont: consolas;
  --codeFontSize: 22px;

  --monospaceBg: #666;
}
