@import '../../mixins/breakpoints';
.search__container {
  @include respond-to($wd-down) {
    width: 40px;
    background-color: transparent;
    margin-right: 0;
  }
  width: 250px;
  height: 100%;
  margin-right: 50px;
  display: flex;
  align-items: center;
  background-color: var(--neutral-750);
}
.search__container--disabled {
  width: 40px;
  background-color: transparent;
  margin-right: 0;
}
.search__field {
  flex: 1;
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  opacity: 1;
  border: 1px solid var(--neutral-240-500);
  transition: opacity 200ms linear;
}
.search__field-container--collapsed {
  @include respond-to($wd-down) {
    border: none;
  }
}
.search__field--collapsed {
  @include respond-to($wd-down) {
    display: none;
  }
}

.search__field__input {
  flex: 1;
  height: 100%;
  background-color: var(--neutral-750);
  color: var(--neutral-180);
  border: 0;
  padding: 0 10px;
}
.search__field__buttons {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  height: 100%;
  button {
    background-color: transparent;
  }
}
.search__field__button {
  opacity: 0;
  transition: opacity 200ms linear;
  cursor: text;
}

.search__field__button--visible {
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.search__search-button {
  border: 0;
  margin: 0;
  margin-left: auto;
  height: 100%;
  border-radius: 0;
  width: 50px;
  svg {
    fill: var(--neutral-130);
  }
}

.search__search-button--nav-bar {
  @include respond-to($md-up) {
    width: 30px;
    height: 30px;
  }
  @include respond-to($mb-down) {
    &:hover {
      background-color: initial;
    }
  }
}
