@import '~@cherryjuice/shared-styles/build/mixins/typography';
.node-path {
  box-sizing: border-box;
  grid-area: node-path;
  height: 100%;
  width: calc(100vw - var(--treeWidth));
  overflow-x: auto;
  background-color: var(--surface-100);
  color: var(--on-surface-050);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}
.node-path__nodes {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.node-path__node {
  height: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms linear;
  cursor: pointer;
  &:hover {
    &:hover:not([disabled]) {
      background-color: var(--surface-090);
    }
  }
  svg {
    margin-top: -2px;
  }
  span {
    margin-top: -4px;
  }
  overflow: hidden;
  white-space: nowrap;
  @include type-e();
}
.node-path__node--selected {
  background-color: var(--surface-080);
}
.separator {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
