.node-path {
  box-sizing: border-box;
  grid-area: node-path;
  padding: 0 10px;
  height: 100%;
  width: 100vw;
  overflow-x: auto;
  background-color: var(--surface);
  color: var(--on-surface);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  border-top: 1px solid var(--on-surface-25);
}
.node-path__nodes {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.node-path__node {
  height: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms linear;
  cursor: pointer;
  &:hover {
    &:hover:not([disabled]) {
      background-color: var(--surface-010);
    }
  }
  img {
    margin-bottom: -2px;
  }
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.node-path__node--selected {
  color: var(--secondary);
  background-color: var(--surface-010);
}
.separator {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
