@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
@import '~@cherryjuice/shared-styles/build/mixins/typography';
@import '~@cherryjuice/shared-styles/build/vars/vars';

.tabs-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  max-height: var(--tabs);
  height: var(--tabs);
  align-items: center;
  justify-content: flex-start;
  background-color: var(--surface-095);
}

.tabs-list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  @include respond-to($md-down) {
    overflow: auto;
    width: calc(100vw - var(--treeWidth));
  }
  width: 100%;
  height: 100%;
  //padding: 2px 3px;
  box-sizing: border-box;
}

.tabs--hidden {
  flex-direction: column;
}

.hidden-tabs-button {
  height: 32px;
  @include respond-to($md-down) {
    height: 36px;
  }
  background-color: transparent;
  width: 20px;
  border-radius: 0;
  svg {
    transform: scale(1.3);
    fill: var(--on-surface-060);
  }
  &:focus {
    outline: none !important;
  }
  &:active {
    box-shadow: none !important;
  }
}

.tab-separator {
  height: 80%;
  width: 1px;
  background-color: var(--on-surface-050);
}
