@import '../../vars/vars';
.node {
  //background-color: #727070;
  display: flex;
  align-items: center;
  cursor: default;
  //max-width: 400px;
  position: relative;
  //margin-left: -5px;
  //margin-left: 5px;
  min-width: max-content;
  flex: 1;
  max-width: $max-node-width;
}

.node__title-overlay {
  min-width: var(--overlay-width);
  height: 100%;
  position: absolute;
  left: var(--overlay-left);
  background-color: #287eed;
}

.node__title {
  padding: 7px 7px 7px 6px;
  text-decoration: none;
  font-family: Verdana N, sans-serif;
  color: white;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  z-index: $ZI-node-elements;
  min-height: 21px;
}

.node__title-button {
  background-color: papayawhip;
  margin-right: 7px;
  //margin-left: 10px;
  min-width: 8px;
  min-height: 8px;
  padding: 1px;
  font-weight: lighter;
  font-style: normal;
  font-size: 8px;
  cursor: pointer;
  z-index: $ZI-node-elements;
  margin-left: 5px;
}
.node__title-button--hidden {
  visibility: hidden;
}
.node__title-cherry {
  min-width: 14px;
  width: 14px;
  z-index: $ZI-node-elements;
}
.node__list {
  padding-left: 0;
}

div.node--drag-hover {
  outline: 1px dotted #e7e7e7;
}

div.node[data-dragged='true'] + ul {
  background-color: #ffffff55;
}
ul.node--drag-hover {
  background-color: #ffffff55;
}

.drop-hint {
  height: 2px;
  background-color: white;
  opacity: 0.5;
  width: 80%;
  position: absolute;
  left: 10%;
}
