@import '../../vars/vars';
.node {
  //background-color: #727070;
  display: flex;
  align-items: center;
  cursor: default;
  //max-width: 400px;
  position: relative;
  //margin-left: -5px;
  //margin-left: 5px;
  min-width: max-content;
  flex: 1;
  max-width: $max-node-width;
}

.node--not-available {
  filter: brightness(0.5) contrast(0.5) grayscale(0.5);
}

.node__title-overlay {
  min-width: var(--overlay-width);
  height: 100%;
  position: absolute;
  left: var(--overlay-left);
  background-color: #607d8b63;
}

.node__title {
  padding: 7px 7px 7px 6px;
  text-decoration: none;
  text-align: left;
  font-weight: 400;
  z-index: $ZI-node-elements;
  min-height: 21px;
  color: var(--treeColor);
  font-family: var(--treeFont);
  font-size: var(--treeFontSize);
}

.node__toggle-children {
  background-color: papayawhip;
  margin-right: 7px;
  //margin-left: 10px;
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  img {
    margin-left: -1px;
    margin-top: -1px;
    transform: scale(1.3);
  }
  padding: 1px;
  font-weight: lighter;
  font-style: normal;
  font-size: 8px;
  cursor: pointer;
  z-index: $ZI-node-elements;
  margin-left: 5px;
  @include respond-to($md-down) {
    padding: 3px;
  }
}
.node__title-button--hidden {
  visibility: hidden;
}
.node__title-privacy--disabled {
  svg {
    opacity: 0.3;
  }
}
.node__title-privacy {
  z-index: $ZI-node-elements;
  svg {
    fill: #dbdbdb;
  }
}
.node__title-cherry {
  min-width: 14px;
  width: 14px;
  z-index: $ZI-node-elements;
  margin-top: -2px;
}
.node__list {
  padding-left: 0;
}

div.node--drag-hover {
  outline: 1px dotted #e7e7e7;
}

div.node[data-dragged='true'] + ul {
  background-color: #ffffff55;
}
ul.node--drag-hover {
  background-color: #ffffff55;
}

.drop-hint {
  height: 2px;
  background-color: white;
  opacity: 0.5;
  width: 80%;
  position: absolute;
  left: 10%;
}
