@import '../../vars/vars';
@import '../../mixins/breakpoints';
.tree {
  // size
  grid-area: tree;
  height: calc(var(--vh) - #{$info-bar-height+ $tool-bar-height} - var(--formatting-bar));
  @include respond-to('md') {
    height: calc(var(--vh) - #{$info-bar-height-md+ $tool-bar-height-md});
  }
  // position
  //z-index: 10;
  // children
  overflow: auto;
  // style
  border-right: white 3px solid;
}
.tree_root-list {
  margin: 0 0 0 -40px;
  display: flex;
  flex-direction: column;
}
.tree__resize-handle {
  height: calc(100vh - #{$info-bar-height+ $tool-bar-height}) !important;
  span > div {
    min-width: 10px;
  }
}
