@import '../../mixins/breakpoints';

.tree-tool-bar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--neutral-055);
  opacity: 0.5;
  &:hover {
    opacity: 0.9;
  }
  transition: opacity 200ms linear;
}

.tree-tool-bar--active {
  opacity: 0.9;
}

.tree-tool-bar__controls {
  height: 30px;
  @include respond-to($md-down) {
    height: 40px;
  }
  box-sizing: border-box;
  padding: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1px;
}
.tree__search-field-wrapper {
  opacity: 1;
  background-color: transparent;
}
.tree__search-field-container {
  overflow: hidden;
  flex: 1;
  background-color: transparent;
  margin-right: 0;
}
.tree__search-button {
  width: 30px;
  @include respond-to($md-down) {
    width: 40px;
  }
}
.tree_focus-button {
  height: 100%;
  background-color: white;
  border-radius: 0;
  @include respond-to($md-down) {
    width: 40px;
  }
}
