@import '../../vars/vars';
@import '../../mixins/breakpoints';
@mixin tree-height() {
  height: calc(
    var(--vh) - #{2 * $tool-bar-height} - var(--formatting-bar) - var(--recent-nodes)
  );
  @include respond-to('md') {
    height: calc(var(--vh) - var(--info-bar) - #{$tool-bar-height-md});
  }
}
.tree {
  // size
  grid-area: tree;
  @include tree-height();
  overflow: hidden;
  border-right: white 3px solid;
  max-height: 100%;
}
.tree_root-list {
  margin: 0 0 0 -40px;
  flex-direction: column;
  height: calc(100% - 30px);
  overflow: auto;
  background-color: var(--treeBg);
}
.tree__resize-handle {
  height: calc(
    100vh - var(--docked-dialog-height) - #{2 * $tool-bar-height}
  ) !important;
  @include respond-to($md-up) {
    height: calc(
      100vh - var(--docked-dialog-height) - #{$tool-bar-height}
    ) !important;
  }
  span > div {
    min-width: 10px;
  }
}
$bubble-width: 35px;
.tree__resizeHandle__bubble {
  @media (pointer: coarse) {
    position: absolute;
    left: -#{$bubble-width * 0.4};
    top: 62.5%;
    opacity: 0.3;
    height: $bubble-width;
    width: $bubble-width;
    border-radius: 50%;
    background-color: var(--neutral-750);
    cursor: grab;
    z-index: $ZI-resize-bubble;
  }
}
