@import '../../vars/vars';
@import '../../mixins/breakpoints';
@mixin tree-height() {
  height: calc(
    var(--vh) - #{$info-bar-height+ $tool-bar-height} - var(--formatting-bar)
  );
  @include respond-to('md') {
    height: calc(var(--vh) - #{$info-bar-height-md+ $tool-bar-height-md});
  }
}
.tree {
  // size
  grid-area: tree;
  @include tree-height();
  overflow: auto;
  border-right: white 3px solid;
}
.tree_root-list {
  margin: 0 0 0 -40px;
  display: flex;
  flex-direction: column;
}
.tree__resize-handle {
  height: calc(100vh - #{$info-bar-height+ $tool-bar-height}) !important;
  span > div {
    min-width: 10px;
  }
}
$bubble-width: 35px;
.tree__resizeHandle__bubble {
  position: absolute;
  left: -#{$bubble-width * 0.4};
  top: 70%;
  opacity: 0.3;
  height: $bubble-width;
  width: $bubble-width;
  border-radius: 50%;
  background-color: white;
  cursor: grab;
  z-index: $ZI-resize-bubble;
  @include respond-to($md-up) {
    display: none;
  }
}
