@import '../../vars/vars';
.icon-picker {
  position: relative;
  display: inline;
  margin-left: 12px;
  margin-top: 4px;
}
.iconPicker__icon__list--hidden {
  visibility: hidden;
}
.iconPicker__icon__list {
  position: absolute;
  width: 225px;
  //height: 75px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  top: 25px;
  left: -130px;
  padding: 5px 10px;
  background-color: var(--surface-010);
  box-shadow: $box-shadow1;
  z-index: 1;
}
.icon-picker__icon {
  width: 20px;
  height: 20px;
  padding: 3px;
  cursor: pointer;
  background-color: var(--surface-010);
  margin-left: auto;
  &:hover {
    background-color: var(--surface-010);
  }
}

.icon-picker__icon--selected {
  background-color: var(--surface-010);
  transition: background-color 200ms linear;
}
