@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/typography';
.node-meta {
  box-sizing: border-box;
  padding: 20px 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.5px;
}

.node-meta__input {
  min-height: 40px;
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex: 1;
  gap: 2px;
}
.node-meta__input__label {
  margin-right: 10px;
  color: var(--on-background-010);
  width: 100px;
  @include type-e2();
  opacity: 0.9;
}

.node-meta__input__text-input {
  flex: 1;
  border-bottom: none;
  height: 100%;
  margin-right: 0;
}
.node-meta__input__checkbox {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
.node-meta__input__color-input {
  width: 20px;
  padding: 2px;
  border: none;
  background-color: var(--surface-100);
  margin-left: 12px;
}
.node-meta__input--disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
