@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
@import '~@cherryjuice/shared-styles/build/vars/vars';

.app {
  // size
  width: var(--vw);
  height: var(--vh);
  // children
  //display: grid;
  //grid-template-areas:
  //  'tabs'
  //  'editor';
  //grid-template-columns: 1fr;
  //grid-template-rows: var(--tabs) 1fr;

  //@include respond-to($md-up) {
  //  grid-template-areas:
  //    'tabs tabs'
  //    'editor editor';
  //}
  display: flex;
  flex-direction: column;
  // style
  color: var(--background-100);
  background-color: var(--on-background);
  font-family: Verdana, sans-serif;
}

.app--dialog-docked {
  //grid-template-areas:
  //  'tabs'
  //  'editor'
  //  'dialog';
}
