@import '../vars/vars';
.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-010);
  width: var(--vw);
  height: var(--vh);
}

.splash-screen__logo {
}
