@import '../vars/vars';
@import '../vars/states';
@import '../mixins/breakpoints';
.tool-bar {
  // size
  max-width: var(--vw);
  min-height: $tool-bar-height;
  @include respond-to('md') {
    min-height: $tool-bar-height-md;
  }
  // position
  grid-area: tool-bar;
  // children
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  // style
  background-color: var(--background);
  user-select: none;
}
.tool-bar__group {
  display: flex;
  align-items: center;
  //overflow-x: auto;
  height: $tool-bar-height;
  @include respond-to($md-up) {
    height: $tool-bar-height-md;
  }
}
.tool-bar__group--nav-bar {
  margin-left: auto;
}
.tool-bar__group--nav-bar__profile-picture {
  width: 18px;
  border-radius: 50%;
  margin-top: -2px;
}
.tool-bar__group--mobile-buttons {
  @include respond-to($md-up) {
    display: none;
  }
}
.tool-bar__group--formatting-container {
  pointer-events: none;
  @include respond-to($md-down) {
    pointer-events: all;
  }
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  // position
  @include respond-to($md-down) {
    grid-area: formatting-bar;
  }

  align-items: flex-start;
  margin-bottom: calc(-200px + #{$tool-bar-height-md});
  overflow-x: auto;
  overflow-y: hidden;
  height: 200px;
  @include respond-to($md-down) {
    display: flex;
    align-items: flex-end;
    margin-top: calc(-200px + #{$tool-bar-height});
  }
}
.tool-bar__group--formatting {
  pointer-events: all;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // size
  @include respond-to($md-down) {
    height: $tool-bar-height;
    min-width: max-content;
    width: 100%;
  }
  // children
  user-select: none;
  @include respond-to($md-down) {
    padding: 3px;
    justify-content: start;
    align-items: center;
  }
  // style
  @include respond-to($md-down) {
    box-shadow: $box-shadow3;
    opacity: 0.95;
    background-color: var(--background-95);
  }

  &:last-child {
    @include respond-to($md-down) {
      padding-right: 25px;
    }
  }
}
.tool-bar__group--main-bar {
  user-select: none;
  // position
  @include respond-to($md-down) {
    bottom: 0;
    grid-area: main-bar;
    z-index: #{$ZI-floating-scrollbar};
  }
  // style
  @include respond-to($md-down) {
    background-color: var(--background);
  }
}
.tool-bar__icon {
  position: relative;

  svg {
    fill: var(--on-surface);
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: $tool-bar-height;
  height: $tool-bar-height;
  @include respond-to($md-up) {
    height: $tool-bar-height-md;
    width: $tool-bar-height-md;
  }
  &:not([disabled]) {
    cursor: pointer;
  }

  @include respond-to($md-up) {
    &:hover:not([disabled]) {
      background-color: var(--surface-010);
    }
  }
  &[disabled] {
    //filter: grayscale(0.9) opacity(0.6);
    //cursor: initial;
    svg,
    img {
      @include disabled-button();
    }
  }
  transition: $bg-transition-1;
}
.tool-bar__icon--strict-width {
  @include respond-to($md-down) {
    min-width: $tool-bar-height;
  }
}
.tool-bar__icon--active {
  @include respond-to($md-down) {
    &:not([disabled]) {
      background-color: var(--surface-010);
    }
  }
}

.tool-bar__letter-icon {
  color: var(--on-surface);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  user-select: none;
}

.tool-bar__separator {
  margin-left: -1px;
  margin-right: -1px;
  width: 1px;
  background-color: var(--on-surface);
  height: 45%;
  opacity: 0.6;
  z-index: 1;
}
