@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/vars/states';
@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
.tool-bar {
  // size
  max-width: var(--vw);
  min-height: $tool-bar-height;
  @include respond-to('md') {
    min-height: $tool-bar-height-md;
  }
  // position
  grid-area: tool-bar;
  // children
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  // style
  background-color: var(--background-100);
  user-select: none;
}
.tool-bar__group {
  display: flex;
  align-items: center;
  //overflow-x: auto;
  height: $tool-bar-height;
  @include respond-to($md-up) {
    height: $tool-bar-height-md;
  }
}
.tool-bar__group--nav-bar {
  margin-left: auto;
}
.tool-bar__group--nav-bar__profile-picture {
  width: 18px;
  border-radius: 50%;
  margin-top: -2px;
}
.tool-bar__group--mobile-buttons {
  @include respond-to($md-up) {
    display: none;
  }
}

.tool-bar__group--main-bar {
  user-select: none;
  // position
  @include respond-to($md-down) {
    bottom: 0;
    grid-area: main-bar;
    z-index: #{$ZI-floating-scrollbar};
  }
  // style
  @include respond-to($md-down) {
    background-color: var(--background-100);
  }
}

.tool-bar__letter-icon {
  color: var(--on-surface);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  user-select: none;
}

.tool-bar__separator {
  margin-left: -1px;
  margin-right: -1px;
  width: 1px;
  background-color: var(--on-surface);
  height: 45%;
  opacity: 0.6;
  z-index: 1;
}
.search__search-button {
  @include respond-to($md-up) {
    width: 34px;
    height: 34px;
  }
  @include respond-to($mb-down) {
    &:hover {
      background-color: initial;
    }
  }
}
