@import '~@cherryjuice/shared-styles/build/mixins/typography';
.hotkeys__category {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hotkeys__category__name {
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  color: var(--on-surface-050);
  @include type-a();
}
.hotkeys__category__name-container {
  display: flex;
}

.hotkeys__category__hotkeys-list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 480px;
}
