@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/typography';
.settings {
}

.settings__screen {
  margin-left: 5px;
  color: var(--on-background-010);
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.settings__group-container {
  display: flex;
  color: var(--on-background-010);
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.settings-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-height: 40px;
}
.settings-element__name {
  padding: 5px;
  min-width: 84px;
  @include type-e2();
}
