@import '../../vars/vars';
@import '../../mixins/breakpoints';
.collapsable-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0px;
  box-shadow: $box-shadow1;
}
.collapsable-list--collapsed {
  height: 40px;
  box-shadow: none;
  width: 40px;
  margin-left: auto;
  margin-right: 10px;
  .collapsable-list__header {
    opacity: 0.8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 40px;
    margin-left: auto;
    background-color: transparent;
  }
}
.collapsable-list__header {
  transition: opacity 200ms linear;
  background-color: var(--background);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.collapsable-list__header__text {
  color: var(--on-background);
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:first-letter {
    text-transform: capitalize;
  }
}
.collapsable-list__header__action {
  margin-left: auto;
  display: flex;
  gap: 5px;
  padding: 2px 0px;
  background-color: transparent;
  border-radius: 5px;
  height: calc(100% - 4px);
  align-items: center;
}

.collapsable-list__body {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  max-height: 123px;
  background-color: var(--background);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.collapsable-list__item {
  height: 20px;
  width: calc(100% - 20px);
  padding: 10px;
  border-bottom: 1px solid rgba(grey, 0.3);
  display: flex;
  gap: 2px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-010);
  color: var(--on-background);
  border-radius: 3px;
}

.collapsable-list__item__name {
  color: var(--on-surface);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.collapsable-list__item__button {
  margin-right: -5px;
  margin-left: 5px;
}
.collapsable-list__item__description {
  color: var(--on-surface);
  margin-left: auto;
  font-size: 13.5px;
}
.collapsable-list__item--active {
  background-color: var(--primary);
  filter: grayscale(0.4);
  .collapsable-list__item__name {
    color: var(--on-primary);
  }
  .collapsable-list__item__description {
    color: var(--on-primary);
  }
}
