.root-list-skeleton {
  box-sizing: border-box;
  padding: 20px;
  padding-left: 20px;
  width: 100%;
  height: calc(100% - var(--treeToolBarHeight));
  background-color: var(--treeBg);
  svg {
    opacity: 0.3;
  }
}
