@import '../../vars/vars';
@import '../../mixins/breakpoints';
@import '../../mixins/form';
.banner__container {
  position: absolute;
  width: 100%;
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond-to($md-down) {
    margin-top: 15px;
  }
}
.banner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @include respond-to($md-down) {
    background-color: rgba($primary, 0.1);
  }
  @include form-element-size();
  opacity: 0;
  border-radius: 10px;
  background-color: rgba(white, 0.2);
  transition: opacity 200ms linear;
}
.banner__text {
  text-align: center;
  color: white;
  @include respond-to($md-down) {
    color: rgba($primary-dark2, 0.8);
  }
}

.banner__icon {
}

.banner--visible {
  opacity: 1;
}
