@import '../../vars/vars';
@import '../../mixins/form';

.login__card {
  position: relative;
  width: 400px;
  height: 65%;
  @include respond-to($md-down) {
    width: 95%;
    height: 92%;
  }
  min-height: 400px;
  overflow-x: hidden;
  background-color: white;
  filter: none;
  border-radius: 10px;
  box-shadow: $box-shadow1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__card--sign-up {
  @include respond-to($md-up) {
    height: 70%;
  }
}
.login__card--loading {
  filter: brightness(0.5);
}

.login__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__form__input {
  position: relative;
  //padding: 0px 15px;
  display: flex;
  border-radius: 5px;
  background-color: white;
  filter: brightness(0.95);
  margin-top: 2px;
  @include form-element-size();
}
.login__form__input__icon {
  opacity: 0.8;
  position: absolute;
  align-self: center;
  padding-left: 10px;
}
.login__form__input__input {
  border-radius: 5px;
  padding: 10px 15px;
  padding-left: 35px;
  //margin-left: 10px;
  font-size: 1.2rem;
  width: 100%;
  border: none;
}
.login__form__input--submit {
  margin-left: 0px;
  padding: 10px 15px;
  font-weight: lighter;
  background-color: $primary-dark2;
  color: white;
  filter: brightness(1.5);
  cursor: pointer;
  font-size: 1.2rem;
}
.login__form__input--submit:disabled {
  filter: opacity(0.5);
}
.login__form__remember-me {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 5px 5px 0px;
  height: 30px;
  * {
    transform: scale(0.8);
  }

  @include form-element-size();
}
.login__form__remember-me__checkbox {
  align-self: center;
  transform: scale(0.6);
  margin-top: 8px;
}
.login__form__remember-me__checkbox:focus {
}
.login__form__remember-me__text {
  padding: 2px 0;
  display: flex;
  color: grey;
  margin-left: -10px;
}

.login__separator {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.login__separator__line {
  height: 0px;
  width: calc(#{$form-input-width} * 0.35);
  margin: 5px;
  border-bottom: 1px solid rgba($primary-dark2, 0.4);
}
.login__separator__text {
  color: $primary-dark2;
}
.login__form__create-account {
  margin-top: 30px;
  font-size: 1rem;
  color: $primary-dark2;
  text-decoration: none;
}
.login__form__create-account__icon {
  text-decoration: none;
  color: $primary-dark2;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba($primary-dark2, 0.4);
}
