.sidebar-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0;
}

.sidebar-section__border {
  --padding: 10px;
  // size
  height: 1px;
  box-sizing: border-box;
  width: calc(100% - var(--padding) * 2);
  border-top: var(--border);
  padding: 0 var(--padding);
  margin-block-end: 5px;
  align-self: center;
}
