.toolbar-button {
  min-width: var(--tabs);
  height: var(--tabs);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: var(--background-100-95);

    // to hide the bottom border of the toolbar
    z-index: 1;
  }
  svg {
    fill: grey;
  }
}
.toolbar-button--active {
  background-color: var(--background-100);
  svg {
    opacity: 1;
  }
}
