@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
.toolbar-button {
  min-width: var(--tabs);
  height: var(--tabs);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: var(--background-100-95);
    @include respond-to($md-down) {
      background-color: var(--surface-040);
    }
    // to hide the bottom border of the toolbar
    z-index: 1;
  }

  svg {
    fill: grey;
  }
}

.toolbar-button--active {
  background-color: var(--background-100) !important;

  @include respond-to($md-down) {
    background-color: var(--surface-030) !important;
  }
  z-index: 1;
  svg {
    opacity: 1;
  }
}
