$mobile: 425px;
$tablet: 850px;
// https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
$md-up: 'md';
$md-down: 'md-down';
$mb-up: 'md-up';
$mb-down: 'md-down';
$breakpoints: (
  'md': (
    min-width: $tablet,
  ),
  'md-down': (
    max-width: $tablet,
  ),
  'mb-up': (
    min-width: $mobile,
  ),
  'mb-down': (
    max-width: $mobile,
  ),
) !default;
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
}
