.keyboard-shortcut__key {
  margin-top: 10px;
  width: 20px;
}
.keyboard-shortcut__field {
  max-width: 100px;
  height: 36px;
  margin-left: 5px;
  input {
    text-align: center;
    padding: 5px;
  }
}
