@import '../../mixins/breakpoints';
@import '../../vars/vars';
.settings {
}

.settings__screen {
  margin-left: 5px;
  color: var(--neutral-000);
}

.settings__group-container {
  display: flex;
  color: var(--neutral-000);
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.settings-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-height: 40px;
}
.settings-element__name {
  padding: 5px;
}
