// global styles
// 1) material progress-bar
$mdc-theme-primary: #790604;
$mdc-theme-secondary: #76ff03;
$mdc-theme-background: floralwhite;
@import '~@material/linear-progress/mdc-linear-progress';

// 2) rich-text ss-html global classes
.rich-text__code {
  border: solid 1px bisque;
  background-color: darkslateblue;
  overflow: auto;
}
.rich-text__table {
  display: inline-block;
  td,
  th {
    gap: 0;
    border: 1px dotted gray;
    text-align: center;
    padding: 8px;
    color: white;
  }
  td {
    text-align: left;
    height: 16px;
  }
}
.rich-text__link {
  cursor: pointer;
}

.rich-text {
  grid-area: rich-text;
  //border: red 2px solid;
  font-size: 22px;
  overflow: auto;
  margin-top: 6px;
  margin-left: 6px;
  position: relative;
}
.rich-text__anchor {
  width: 20px;
  padding: 2px;
}
.rich-text__text {
  display: inline;
}
.rich-text__link {
  text-decoration: none;
}
.rich-text__link--file,
.rich-text__link--folder {
  color: grey;
}
.rich-text__link--node {
  color: green;
}
.rich-text__line {
  min-height: 27px;
}