@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';
@import '~@cherryjuice/shared-styles/build/mixins/typography';

.user-profile__group {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--primary-050-10);
  flex-wrap: wrap;
}
.user-profile__group__name {
  padding: 10px;
  padding-bottom: 15px;
  min-width: 100px;
  text-transform: capitalize;
  @include type-c();
}
.userProfile__group__elements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 0;
  @include respond-to($mb-down) {
    margin-left: auto;
  }
  justify-content: center;
  align-items: flex-start;
}
.userProfile__group__elements__button {
  background-color: var(--surface);
}
.user-profile__personal-information__label {
  display: flex;
  color: black;
}
.user-profile__personal-information__value {
  input {
    width: 300px;
  }
}
.userProfile__change-email {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  background-color: var(--surface);
  border-radius: 5px;
}
.userProfile__change-email__status {
  padding: 10px;
}
.userProfile__changeEmail__buttons {
  display: flex;
  justify-content: flex-end;
}
