@import '~@cherryjuice/shared-styles/build/mixins/typography';

.user-info {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--on-surface-050);
  text-align: center;
}

.user-info__generated-avatar {
  border-radius: 50%;
}

.user-info__name {
  &:first-letter {
    text-transform: capitalize;
  }

  @include type-c();
}

.user-info__username {
  font-weight: bold;
  color: var(--primary-045);
  overflow-wrap: anywhere;
}

.user-info__email {
  text-transform: lowercase;
  font-size: 0.85em;
}
