@import '~@cherryjuice/shared-styles/build/vars/vars';
.time-filter {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  align-items: flex-start;
  justify-content: center;
}
.time-filter__filter-toggle {
  z-index: 1;
  background-color: var(--surface-090);
}
.time-filter__filter-container {
  display: flex;
  color: var(--on-surface-050);
  align-items: center;
  transition: transform 200ms cubic-bezier(0, 1.29, 1, 0.7),
    opacity 200ms cubic-bezier(0, 1.29, 1, 0.7);
  transform: translateX(0);
}
.time-filter__filter-container--hidden {
  opacity: 0;
  transform: translateX(-100px);
}
.time-filter__select-container {
  display: flex;
  color: var(--on-surface-050);
  align-items: center;
  gap: 5px;
}
.time-filter__select {
  flex: 1;
  box-sizing: border-box;
  height: 38px;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  background-color: var(--surface-090);
}
.time-filter__filter-name {
  padding: 10px;
  color: var(--on-surface-050);
}
.time-filter__timestamp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}
.time-filter__timestamp__item {
  color: var(--on-surface-050);
  font-family: monospace;
  font-weight: bold;
  margin-left: 5px;
}
