@import '~@cherryjuice/shared-styles/build/vars/vars';
@import '~@cherryjuice/shared-styles/build/mixins/text';
@import '~@cherryjuice/shared-styles/build/mixins/breakpoints';

.search-result {
  width: calc(100% - 40px);
  min-height: 88px;
  max-height: 250px;
  padding: 20px 20px;
  background-color: var(--surface-100);
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 6px;
  box-shadow: var(--shadow-2);
  transition: background-color 200ms linear;
  cursor: pointer;
  &:hover {
    background-color: var(--primary-100-20);
  }
  .search-result__timestamps {
    padding: 5px;
  }
}
.search-result--selected {
  background-color: var(--primary-100) !important;
  .search-result__location__document-name {
    color: var(--on-background-010);
    opacity: 0.5;
  }
  .search-result__timestamps {
    color: var(--on-background-010);
  }
}
.search-result__location {
  align-self: flex-start;
  justify-self: flex-end;
  max-width: 100%;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-result__location__document-name {
  font-family: monospace;
  color: var(--on-surface-050);
  font-size: 12px;
  opacity: 0.6;
}
.search-result__location__node-name {
  @include clampMultiLine(2);
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  opacity: 0.8;
  display: flex;
}

.search-result__location__node-tags {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  opacity: 0.8;
}
.search-result__headline {
  align-self: flex-start;
  justify-self: flex-start;
  @include clampMultiLine(4);
  padding: 5px;
  min-height: 20px;
}

.search-result__headline__end {
  opacity: 0.8;
}
.search-result__headline__match {
  font-weight: bold;
}

.search-result__timestamps {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  font-size: 11px;
  color: var(--on-surface-050);
  opacity: 0.6;
}
.search-result__timestamps__separator {
  margin-left: 10px;
  margin-right: 10px;
}
.search-result__timestamps__item {
  color: var(--on-surface-050);
}
