@import '../../../vars/vars';
@import '../../../mixins/text';
@import '../../../mixins/breakpoints';

.search-result {
  align-items: center;
  width: calc(100% - 40px);
  max-height: 250px;
  padding: 10px 20px;
  background-color: var(--background);
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: $box-shadow2;
  transition: background-color 200ms linear;
}
.search-result--selected {
  background-color: var(--primary-100);
}
.search-result__location {
  align-self: flex-start;
  justify-self: flex-end;
  margin-bottom: 5px;
  max-width: 100%;
  opacity: 0.8;
}

.search-result__location__document-name {
  font-family: monospace;
  color: var(--on-surface);
  font-size: 12px;
}
.search-result__location__node-name {
  @include clampMultiLine(2);
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;

  display: flex;
}

.search-result__location__node-tags {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  opacity: 0.8;
}
.search-result__headline {
  align-self: flex-start;
  justify-self: flex-start;
  @include clampMultiLine(4);
  padding: 5px;
  min-height: 20px;
}

.search-result__headline__end {
  opacity: 0.8;
}
.search-result__headline__match {
  font-weight: bold;
}

.search-result__timestamps {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-self: flex-end;
  @include respond-to($md-down) {
    font-size: 0.8rem;
  }
}
.search-result__timestamps__separator {
  margin-left: 10px;
  margin-right: 10px;
}
.search-result__timestamps__item {
}
