{{>email-head}}
<body>
<div class="container">
    <div class="card">
        <p>Hello,</p>
        <p>We've received a request to change your email from <b>{{currentEmail}}</b> to <b>{{newEmail}}</b>.</p>
        <p>By clicking the following button, you are confirming this request.</p>
        <a href="{{changeEmailUrl}}" class="button">change email</a>
        <p>If you didn't make this request, let us know.</p>
        <p>Thanks</p>
    </div>
</div>
</body>
